body{
    font-family: Arial;
    margin:0;
    padding:0;
}

header{
    background:#b8860b;
    color:white;
    text-align:center;
    padding:30px;
}

section{
    padding:20px;
}

h2{
    color:#b8860b;
}